.x-body, .header > .x-panel-body { background: #A68000; }
.auth {
	float: right;
	clear: both; 
	margin-top: -50px; 
	margin-right: 10px; 
	text-align: center;
	color: #A68000;
	font-weight: bolder;
	min-width: 150px; 
	border: 2px solid #FFF; 
	padding: 10px;
	border-radius: 5px;
	background-color: #FFDF73;
}
.floatRight{ float: right; }
.auth:HOVER{ text-decoration: underline; cursor: pointer; color: white;	background-color: #FFC500; }
.auth span{ background-image: url(images/tools/tool-sprites.png); background-repeat: no-repeat; background-position: 0 -176px; width: 16px; height: 16px; padding-left: 20px; }
.color-white{color: white; font-weight: normal;}
.nav span.info { color: #FFFFFF!important; font-size: 14px; }
.nav li { margin: 10px 10px 0 0; } 
.nav span.btn {padding-left: 0px; }
.nav div.box-info { padding: 6px 30px;}
.nav div.box-info span.info-user {text-transform: capitalize;font-size: 14px;}
.nav div.box-info span.info-community {text-transform: uppercase;font-size: 16px;font-weight: bolder;letter-spacing: -1px;}
.header { 
	margin-left: 50px; 
	width: 250px; 
	height: 100%; 
	clear: both;
	background: -moz-linear-gradient(left,  rgba(170,42,0,0) 0%, rgba(170,42,0,0.8) 15%, rgba(170,42,0,1) 19%, rgba(170,42,0,1) 20%, rgba(249,210,82,1) 50%, rgba(170,42,0,1) 80%, rgba(170,42,0,1) 81%, rgba(170,42,0,0.8) 85%, rgba(170,42,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(170,42,0,0)), color-stop(15%,rgba(170,42,0,0.8)), color-stop(19%,rgba(170,42,0,1)), color-stop(20%,rgba(170,42,0,1)), color-stop(50%,rgba(249,210,82,1)), color-stop(80%,rgba(170,42,0,1)), color-stop(81%,rgba(170,42,0,1)), color-stop(85%,rgba(170,42,0,0.8)), color-stop(100%,rgba(170,42,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(170,42,0,0) 0%,rgba(170,42,0,0.8) 15%,rgba(170,42,0,1) 19%,rgba(170,42,0,1) 20%,rgba(249,210,82,1) 50%,rgba(170,42,0,1) 80%,rgba(170,42,0,1) 81%,rgba(170,42,0,0.8) 85%,rgba(170,42,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(170,42,0,0) 0%,rgba(170,42,0,0.8) 15%,rgba(170,42,0,1) 19%,rgba(170,42,0,1) 20%,rgba(249,210,82,1) 50%,rgba(170,42,0,1) 80%,rgba(170,42,0,1) 81%,rgba(170,42,0,0.8) 85%,rgba(170,42,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(170,42,0,0) 0%,rgba(170,42,0,0.8) 15%,rgba(170,42,0,1) 19%,rgba(170,42,0,1) 20%,rgba(249,210,82,1) 50%,rgba(170,42,0,1) 80%,rgba(170,42,0,1) 81%,rgba(170,42,0,0.8) 85%,rgba(170,42,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(170,42,0,0) 0%,rgba(170,42,0,0.8) 15%,rgba(170,42,0,1) 19%,rgba(170,42,0,1) 20%,rgba(249,210,82,1) 50%,rgba(170,42,0,1) 80%,rgba(170,42,0,1) 81%,rgba(170,42,0,0.8) 85%,rgba(170,42,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aa2a00', endColorstr='#00aa2a00',GradientType=1 ); /* IE6-9 */
}
.logo{
	text-align: center;
	font-weight: bolder;
	font-size: 48px;
	display: table;
	letter-spacing: -3px;
	padding-top: 10px;
	font-family: Garamond;
	color: black;
	text-shadow: -1px 3px 2px #929292, 0px -1px 1px #000;
	text-shadow: 0px 3px 6px #000, 0px -1px 1px #FFFF00;
}
.dash{ margin: -7px auto auto auto; font-size: 28px; color: black; }
.transparente{ background: transparent!important; }
.login{
	position: absolute;
	width: 350px; 
	height: 180px; 
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 8px;
	box-shadow: 5px 5px 5px #000;
	border: 6px solid #FFFFFF;
	background-image: linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -o-linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -moz-linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -ms-linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);				
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.27, rgb(255,196,0)), color-stop(0.61, rgb(255,222,115)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFDF73, endColorStr=#FFC500);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFDF73, endColorstr=#FFC500)";
	filter: shadow(color=#999999, direction=135, strength=5);
}
.container{ margin: 30px; }
.button-login { background: #FFDF73!important; }
.button-login span { color:#A68000!important; }
.button-login:ACTIVE { background: #A68000!important; }
.button-login:ACTIVE span { color: white!important; }
.x-tab-bar{ background-color: #A68000; }
.x-form-item-label{ color: #A68000; font-weight: bolder; }
.x-form-arrow-trigger, .x-form-trigger-wrap, .x-form-field{ border-radius: 5px; }
.x-window-default{ border-color: #FFC500; }
.x-window-header{ background: #FFC500; border-color: #FFC500; }
.x-grid-row-before-over{background-color: #FFDF73;}
.x-box-scroller{ background-color: #FFC500!important; }
.x-form-checkbox{ background: url('../img/ico/drop-no.png'); margin-left: 10px;}
.x-form-cb-checked .x-form-checkbox { background: url("../img/ico/drop-yes.png"); background-position: center;}
.x-panel-header { 
	background-image: linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -o-linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -moz-linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -ms-linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);				
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.27, rgb(255,196,0)), color-stop(0.61, rgb(255,222,115)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFDF73, endColorStr=#FFC500);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFDF73, endColorstr=#FFC500)";
}
.x-panel-header-default-vertical{
	background-image: linear-gradient(right, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -o-linear-gradient(right, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -moz-linear-gradient(right, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -webkit-linear-gradient(right, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -ms-linear-gradient(right, rgb(255,196,0) 27%, rgb(255,222,115) 61%);				
	background-image: -webkit-gradient(linear,left right,left right,color-stop(0.27, rgb(255,196,0)), color-stop(0.61, rgb(255,222,115)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFDF73, endColorStr=#FFC500, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFDF73, endColorstr=#FFC500, GradientType=1)";
}
.x-btn-default-small {
	border-color: #A68000;
	background-color: #3892d3;
	background-image: linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -o-linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -moz-linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);
	background-image: -ms-linear-gradient(bottom, rgb(255,196,0) 27%, rgb(255,222,115) 61%);				
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.27, rgb(255,196,0)), color-stop(0.61, rgb(255,222,115)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFDF73, endColorStr=#FFC500);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFDF73, endColorstr=#FFC500)";
}

.x-btn-default-small-pressed {
	border-color: #A68000;
	background-color: #3892d3;
	background-image: linear-gradient(bottom, rgb(166,127,0) 100%, rgb(255,222,115) 100%);
	background-image: -o-linear-gradient(bottom, rgb(166,127,0) 100%, rgb(255,222,115) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(166,127,0) 100%, rgb(255,222,115) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(166,127,0) 100%, rgb(255,222,115) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(166,127,0) 100%, rgb(255,222,115) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, rgb(166,127,0)),color-stop(1, rgb(255,222,115)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#A68000, endColorStr=#A68000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A68000, endColorstr=#A68000)";
}
.x-tab{ background-color: #FFC500; }
.x-tab-bar-strip{ background-color: #FFDF73; }
.x-tab-active, .x-tab-active .x-tab-inner{ background-color: #FFDF73; color: #A68000; }
.x-border-layout-ct { background-color: #222222; }
.x-tool-img { background-color: transparent!important; }
.x-panel-body, .x-panel-header{ border-color: #A68000 }
.x-panel { border: none; }
.add-community{ background: url('../img/ico/add_community.png') no-repeat top left; }
.add-event{ background: url("../img/ico/event_add.png") no-repeat top left; }
.remove-community{ background: url("../img/ico/remove_community.png") no-repeat top left; }
.remove-event{ background: url("../img/ico/event_remove.png") no-repeat top left; }
.remove-user { background: url("../img/ico/user_remove.png") no-repeat top left; }
.edit-community{ background: url("../img/ico/edit_community.png") no-repeat top left; }
.edit-event{ background: url("../img/ico/event_edit.png") no-repeat top left; }
.invite-users{ background: url("../img/ico/add_community.png") no-repeat top left; }
.user-lock{background: url("../img/ico/user_lock.png") no-repeat top left; }
.user-unlock{background: url("../img/ico/user_unlock.png") no-repeat top left; }
.export{ background: url("../img/ico/doc_export.png") no-repeat top left; }
.small-text{ font-size: x-small; padding-left: 5px; font-weight: normal;}
.combo-text{ font-weight: bold; display: block; }
input.x-form-invalid-field{ background-color: #FFBDB0!important; }

/* Widths percents */
.wp90{ width: 90%; }
.wp80{ width: 80%; }
.wp70{ width: 70%; }
.wp60{ width: 60%; }
.wp50{ width: 50%; }
.wp40{ width: 40%; }
.wp30{ width: 30%; }
.wp20{ width: 20%; }
.wp10{ width: 10%; }