/* ==========================================================================
   * PhDHive v1.0.0
   * Copyright 2013 PhDHive
   * Designed and built Iván Loreiro
   ========================================================================== */

/* ==========================================================================
    1.  Base styles: Layout
    2.  Títulos
    3.  Botones
    4.  Navegación
    5.  Formularios
    6.  Mensajeria
    7.  Tablas
    8.  Mobile + Mediaqueries
    9.  Carrusel (slider)
   ========================================================================== */

/* ==========================================================================
   1. Base styles: Layout
   ========================================================================== */

html, body {
  background: #000;
  /*background: #fff;*/
  color: #fff;
  height: 100%; /*footer*/
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
  background: #fff;
  max-width: 1280px;
}
.push {
  height: 63px;
}

a {
  -o-transition: color .0.2s ease-out, background 0.5s ease-in;
  -ms-transition: color .0.2s ease-out, background 0.5s ease-in;
  -moz-transition: color .0.2s ease-out, background 0.5s ease-in;
  -webkit-transition: color .0.2s ease-out, background 0.5s ease-in;
  transition: color .0.2s ease-out, background 0.5s ease-in;
}
a:hover {
  color: #ffcd00;
  text-decoration: none;
  -o-transition: color .0.2s ease-out, background 0.5s ease-in;
  -ms-transition: color .0.2s ease-out, background 0.5s ease-in;
  -moz-transition: color .0.2s ease-out, background 0.5s ease-in;
  -webkit-transition: color .0.2s ease-out, background 0.5s ease-in;
  transition: color .0.2s ease-out, background 0.5s ease-in;
}

/*
 * Varios (clases útiles)
 */

li {
  list-style: none;
}
.margin_top60 {
  margin: 60px 0 0 0;
}
.margin_top20 {
  margin: 20px 0 0 0;
}
.margin_top10 {
  margin: 10px 0 0 0;
}
.margin_right10 {
  margin: 0 10px 0 0;
}
.margin_left10 {
  margin: 0 0 0 10px;
}
.vtop {
  vertical-align: top!important;
}
.vbottom {
  vertical-align: bottom!important;
}

img.logo {
	max-width: 70%;
}
.lopd {
	margin: 20px 0 0 10px!important;
}
.terms {
	margin: 10px;
}
em > strong {
	color: #ca9800!important;
}
/*
 * Contenedores de la página (contenido central y los cotenendores interiores)
 */

.container {
  max-width: 1280px; /* anchura máxima del contenido de la página */
  padding: 0px 14px 0 15px;
  /*overflow: hidden;*/
}
.contenido, .contenido_izquierdo, .contenido_derecho {
  /*min-height: 650px;*/ /* altura mínima para el contenido central y los cotenendores interiores */
  min-height: auto; /*pongo la altura automática para que se vea más el footer, valorar posteriormente con Antonio*/
}
.contenido_total {
  background: #fff;
  color: #333;
  padding: 20px 20px 20px 60px;
}
.contenido_izquierdo {
  background: #fff;
  color: #333;
  padding: 20px 20px 20px 60px;
}
.contenido_derecho {
  min-height: 650px;
  /*min-height: auto;*/ /*pongo la altura automática para que se vea más el footer, valorar posteriormente con Antonio*/
  background: #333333;
  color: #fff;
  padding: 20px 60px 20px 40px;
}
    .amarillo {
      background: #ffcc00;
      color: #000;
    }

.contenido_inferior_gris {
  background: #333;
  color: #fff;
  min-height: 200px;
  padding: 20px 20px 20px 60px
}

/*
 * Alturas de contenidos mínimas especificas a partir de 1024px
 */

.mheight_500 {
  min-height: 500px;
}
.mheight_700 {
  min-height: 700px;
}

/*
 * Footer (Pie de página)
 */

footer {
    background: #000;
    padding: 20px 10px 10px 10px;
}
footer a {
    color: #fff!important;
}
footer a:hover {
    color: #ffce00!important;
}

/*
 * Header (Cabecera)
 */

header, #collapse1 {
  background: #000;
}
header .navbar {
  padding: 0px;
  margin: 0px;
  background: #000;
}
.navbar-brand {
  /*...*/
}


/* ==========================================================================
   2. Títulos (encabezados, textos, tamaños, colores)
   ========================================================================== */

h1 {
    font-size: 2em; /*28px*/
}
h2 {
    font-size: 1.5em; /*21px*/
}
.contenido_izquierdo h1, .contenido_derecho h1 {
    margin: 0;
    padding: 17px 0 17px 0;
    line-height: auto;
    text-align: left;
    font-size: 28px;
}
.contenido_izquierdo h1 {
    color: #000;
}
.contenido_derecho h1 {
    color: #ffcc00;
}
.amarillo h1 {
    color: #000;
}
.negro {
  color: #000!important;
}
.text_amarillo {
    color: #efc61b;
}
.bg_negro {
  background: #000;
}

/*
 * Para la página principal
 */

.frase1, .frase2 {
  background: #000;
  color: #fff;
  padding: 10px 5px;
  text-align: right;
  font-size: 2em;
  opacity: 0.8;
}
.frase2 {
  color: #ffcc00;
  margin: 20px 0 0 0;
}


/* ==========================================================================
   3. Botones
   ========================================================================== */

/*
 * Botones login
 */

.btn_sociales {
  text-align: center;
  margin: 10px 0 10px 0;
}

/*
 * Botón de contacto
 */

.btn-contacto {
  background: #ffcc00;
  border-radius: 0px;
}
.btn-contacto:hover,
.btn-contacto:focus,
.btn-contacto:active {
  background: #bc9701;
}

/*
 * Botón de cerrar el submenu
 */

.btn-cerrarSubmenu {
  background: #ffcc00;
  border-radius: 0px;
  color: #000;
  margin: 5px 0 5px 0;
}
.btn-cerrarSubmenu:hover {
  background: #cc9a00;
}

/*
 * Botón oscuro (negro)
 */

.btn-oscuro, .btn-oscuro-home {
  background: #000;
  border-radius: 0px;
  color: #fff;
}
.btn-oscuro:hover,
.btn-oscuro:focus,
.btn-oscuro:active {
  background: #ffcc00;
}
.btn-oscuro-home:hover,
.btn-oscuro-home:focus,
.btn-oscuro-home:active {
  background: #bc9701;
}

/*
 * Botón edit (para la edición del listado lateral)
 */

.btn-edit {
  color: #919090;
  background: none;
  border-radius: 0px;
}

/*
 * Botón submenú
 */

.btn_submenu {
  font-style: italic;
  color: #fff;
}
/*
 * Botón Tag
 */
.btn-tag {
	background-color: #ca9800;
	cursor: default;
}

/* ==========================================================================
   4. Navegación (menús, submenus)
   ========================================================================== */

/*
 * Submenu (header-cabecera)
 */

.submenu {
  background-color: #ffce00;
  border: 0px;
  border-radius: 0px;
  padding: 0px;
}
.submenu > li > a {
  padding: 10px 20px;
}

.submenu > li > a:hover,
.submenu > li > a:focus {
  color: #000;
  text-decoration: none;
  background-color: #c79900!important;
}

.submenu > .active > a,
.submenu > .active > a:hover,
.submenu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #c79900;
  outline: 0;
}

.user, .user .caret  {
  font-size: 0.90em;
  /*color: #888888;*/
}
.nav > li > a {
  color: #fff!important;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ffcc00!important;
  color: #000!important;
  float: none;
}
.nav li a.active {
  background-color: #ca9800!important;
  color: #000!important;
  cursor: default;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #ffcc00!important;
  border-color: 0px;
}
.nav a:hover .caret,
.nav .open > a:hover .caret,
.nav .open > a:focus .caret
 {
  border-top-color: #000!important;
  border-bottom-color: #000!important;
}
.nav-tabs .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar {
  padding-top: 20px!important;
}
.navbar .nav > li > a {
  margin-top: 20px;
  line-height: 20px;
}

/*
 * Navegación contenido derecho
 */

.lista_lateral {
  padding-left: 0;
  margin-bottom: 20px;
}
.lista_lateral a .badge {
  background: none;
}
.lista_lateral a {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #333;
  border: none;
}
.lista_lateral a:first-child {
  border-radius: 0px;
}
.lista_lateral a:last-child {
  margin-bottom: 0;
  border-radius: 0px;
}
.lista_lateral a {
  color: #fff;
}
.lista_lateral a:hover,
.lista_lateral a:focus {
  background: #ffcc00;
}
.lista_lateral a.active,
.lista_lateral a.active:hover,
.lista_lateral a.active:focus {
  z-index: 2;
  color: #000;
  background-color: #bc9701;
  cursor: default;
}
.lista_lateral a:hover .badge,
.lista_lateral a:focus .badge,
.lista_lateral a:active .badge,
.lista_lateral a:active:hover .badge,
.lista_lateral a:active:focus .badge {
  color: #000;
}

/* Color amarillo */
.amarillo .lista_lateral a {
  background-color: #ffcc00;
  color: #000;
}
.amarillo .lista_lateral a:hover,
.amarillo .lista_lateral a:focus {
  background: #000;
  color: #fff;
}
.amarillo .lista_lateral a.active,
.amarillo .lista_lateral a.active:hover,
.amarillo .lista_lateral a.active:focus {
  color: #fff;
  background-color: #333;
}
.amarillo .lista_lateral a .badge {
  color: #000
}
.amarillo .lista_lateral a:hover .badge,
.amarillo .lista_lateral a:focus .badge,
.amarillo .lista_lateral a:active .badge,
.amarillo .lista_lateral a:active:hover .badge,
.amarillo .lista_lateral a:active:focus .badge {
  color: #fff;
}
.lista_blanca .lista_lateral a {
  background: #fff;
  color: #333;
}
.lista_blanca .lista_lateral a:hover,
.lista_blanca .lista_lateral a:focus {
  background: #ffcc00;
  color: #000;
}
.lista_blanca .lista_lateral a.active,
.lista_blanca .lista_lateral a.active:hover,
.lista_blanca .lista_lateral a.active:focus,
.active .btn-edit {
  z-index: 2;
  color: #fff;
  background-color: #bc9701;
  cursor: default;
}


/* ==========================================================================
   5. Formularios
   ========================================================================== */

/*
 * Básicos
 */

input, textarea {
  border-radius: 0px!important;
}
::-webkit-input-placeholder, ::-webkit-textarea-placeholder { /* WebKit browsers */
  font-style: italic;
  color: #333!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-style: italic;
  color: #333!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-style: italic;
  color: #333!important;
}
:-ms-input-placeholder, :-ms-textarea-placeholder { /* Internet Explorer 10+ */
  font-style: italic;
  color: #333!important;
}
.input_submenu {
  margin: 10px 0 10px 0;
  border-radius: 0px;
}
.help-block {
  font-size: 0.85em;
  font-style: italic;
  color: #969494;
}

/*
 * Login de la home de entrada
 */

.login {
  background: #ffcc00;
  color: #000;
  padding: 30px;
}


/* ==========================================================================
   6. Mensajería (alertas, avisos, ej en formularios)
   ========================================================================== */

ul.parsley-error-list, li.parsley-error {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 8px 35px 8px 14px;
    /*colores opcion a*/
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    /*colores opcion b*/
    /*background-color: #fff;
    border: 1px solid #fff;
    border-left: 1px solid #e44f48;
    color: #e44f48;*/
}

/* ==========================================================================
   7. Tablas y elementos dentro de ellas (barra de progreso, estrellas)
   ========================================================================== */

/*
 * Barra de progreso
 */

.progress {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: none;
  border-radius: 0px;
  box-shadow: none;
}

.progress-bar {
  float: left;
  width: 0;
  font-size: 12px;
  color: #000;
  text-align: left;
  padding: 2px 0 0 5px;
  background-image: linear-gradient(left , rgb(252,247,229) 0%, rgb(255,204,0) 100%);
  background-image: -o-linear-gradient(left , rgb(252,247,229) 0%, rgb(255,204,0) 100%);
  background-image: -moz-linear-gradient(left , rgb(252,247,229) 0%, rgb(255,204,0) 100%);
  background-image: -webkit-linear-gradient(left , rgb(252,247,229) 0%, rgb(255,204,0) 100%);
  background-image: -ms-linear-gradient(left , rgb(252,247,229) 0%, rgb(255,204,0) 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgb(252,247,229)),
    color-stop(1, rgb(255,204,0))
  );
  box-shadow: none;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

/*
 * Estrellas
 */

.estrellas {
  font-size: 0;
  /* Podríamos quitarlo, pero de esta manera (siempre que no le demos padding), sólo aplicará la regla .estrellas:hover a cuando también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.estrellas a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 28px;
  font-size: 1.5rem;
  color: #888;
  padding: 0 2px 0 0;
}

.estrellas:hover a {
  color: #efc61b;
}

 /*El selector de hijo, es necesario para aumentar la especifidad*/

.estrellas > a:hover ~ a {
    color: #888;
}

/*
 * Tabla inferior
 */

.table-inferior th,
.table-inferior td,
.table-blanca th,
.table-blanca td {
  border: 0px!important;
}
.table-inferior thead > tr > td,
.table-inferior tbody > tr > td,
.table-inferior tfoot > tr > td {
  border-bottom: 1px solid #ffcc00!important;
  vertical-align: middle;
}
.table-inferior thead > tr > th {
  border-bottom: 0px;
}
.table-hover-inferior > tbody > tr:hover > td,
.table-hover-inferior > tbody > tr:hover > th {
  background-color: #3d3d3d;
}
.table-hover-blanca > tbody > tr:hover > td,
.table-hover-blanca > tbody > tr:hover > th {
  background-color: #ffcc00;
}
.table-hover-blanca > tbody > tr.active > td,
.table-hover-blanca > tbody > tr.active > th {
  background-color: #bc9701;
}


/* ==========================================================================
   8. Mobile + Mediaqueries
   ========================================================================== */

/*
 * Resoluciones grandes
 */

@media (max-width: 1024px) {

}

/*
 * Resoluciones medias (ipad, tablet)
 */

/*@media (max-width: 768px) {*/
@media (max-width: 767px) {
  .contenido, .contenido_total, .contenido, .contenido_izquierdo, .contenido_derecho, .contenido_inferior_gris {
      min-height: 0; /* altura mínima para el contenido central */
  }
  .contenido, .contenido_total, .contenido_izquierdo, .contenido_derecho, .contenido_inferior_gris {
      padding: 20px;
  }
  .contenido_izquierdo {
    margin: 0 -20px -0 -20px;
  }
  .contenido_derecho {
    margin: 0 -20px -20px -20px;
  }
  h2 {
      font-size: 1.2em;
  }
  .navbar {
      padding-top: 0px!important;
  }
  .navbar .nav > li > a {
    margin-top: 0px;
    line-height: 20px;
  }
  .logo {
      width: 200px;
  }
  .table-inferior {
    font-size: 0.65em;
  }
  .table-inferior h2 {
    font-size: 12px;
  }
  .table-inferior h4 {
    font-size: 0.85em;
  }
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*
 * Resoluciones pequeñas (iphone, smartphone)
 */

@media (max-width: 480px) {
  h2 {
    font-size: 1em;
  }
  .estrellas a {
    font-size: 1.1rem;
  }
}


/* ==========================================================================
   9. Carrusel (slider)
   ========================================================================== */

/*
 * Carrusel de imagenes de fondo a pantalla completa
 */

.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cb-slideshow:after {
  content: '';
  background: transparent url(../img/fondos/pattern.png) repeat top left;
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s;
}
/*.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px;
    opacity: 0.5;
}*/
.cb-slideshow li:nth-child(1) span {
  background-image: url(../img/fondos/bg_1.jpg)
}
.cb-slideshow li:nth-child(2) span {
  background-image: url(../img/fondos/bg_2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url(../img/fondos/bg_3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background-image: url(../img/fondos/bg_4.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background-image: url(../img/fondos/bg_5.jpg);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  background-image: url(../img/fondos/bg_6.jpg);
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}
@-webkit-keyframes imageAnimation {
  0% { opacity: 0;
  -webkit-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -webkit-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
  0% { opacity: 0;
  -moz-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -moz-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
  0% { opacity: 0;
  -o-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -o-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
  0% { opacity: 0;
  -ms-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -ms-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes imageAnimation {
  0% { opacity: 0;
  animation-timing-function: ease-in; }
  8% { opacity: 1;
       animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@-webkit-keyframes titleAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
@-moz-keyframes titleAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
@-o-keyframes titleAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
@-ms-keyframes titleAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes titleAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
.no-cssanimations .cb-slideshow li span{
  opacity: 1;
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 { font-size: 80px }
}


/*
 * Carrusel de texto
 */

.rw-wrapper{
  /*width: 80%;
  position: relative;
  margin: 110px auto 0 auto;
  font-family: 'Bree Serif';
  padding: 10px;*/
}
.rw-sentence{
  margin: 0;
  text-align: left;
  /*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
}
.rw-sentence span{
  /*color: #444;
  font-size: 200%;
  font-weight: normal;*/
}
.rw-words{
  display: inline;
  text-indent: 10px;
}
.rw-words-1 span{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  background: #000;
  color: #fff;
  padding: 10px 5px;
  font-size: 1.5em;
  -webkit-animation: rotateWord 36s linear infinite 0s;
  -moz-animation: rotateWord 36s linear infinite 0s;
  -o-animation: rotateWord 36s linear infinite 0s;
  -ms-animation: rotateWord 36s linear infinite 0s;
  animation: rotateWord 36s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  /*color: #6b889d;*/
}
.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
  /*color: #6b739d;*/
}
.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
  /*color: #7a6b9d;*/
}
.rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
  /*color: #8d6b9d;*/
}
.rw-words-1 span:nth-child(6) {
    -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
  /*color: #9b6b9d;*/
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -moz-transform: translateY(-30px); }
  5% { opacity: 1; -moz-transform: translateY(0px);}
    17% { opacity: 1; -moz-transform: translateY(0px); }
  20% { opacity: 0; -moz-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -o-transform: translateY(-30px); }
  5% { opacity: 1; -o-transform: translateY(0px);}
    17% { opacity: 1; -o-transform: translateY(0px); }
  20% { opacity: 0; -o-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
  5% { opacity: 1; transform: translateY(0px);}
    17% { opacity: 1; transform: translateY(0px); }
  20% { opacity: 0; transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
  .rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
  .rw-sentence { font-size: 9px; }
}
.message {
    background: url('../img/info_black.png') no-repeat left top;
    background-color:#ffcc00;
    margin: auto;
    float: none;
    border: 2px solid;
}
.message p {
    margin-left: 50px;
    margin-top: 10px;
}
.message a.btn {
    clear: both;
    float: right;
    margin: 10px;
}
.message a.btn:hover {
    background: #000000;
    color: #ffffff;
}

/* =======================================================
  10. Upload HTML5 file
========================================================= */
.wordcloud {
	height: 3.97in;
	margin: auto;
	padding: 0;
	page-break-after: always;
	page-break-inside: avoid;
	width: 5in;
}

#upload{
    font-family:'PT Sans Narrow', sans-serif;
    padding:0 30px 30px 30px;
    border: 5px dashed #c3c3c3;
}

#drop{
    padding: 40px 50px;
    width: 300px;
    height: 300px;
    background: url('../img/cloud-upload.png')no-repeat center center;
    background-size: 300px 300px;
    text-align: center;
    text-transform: uppercase;
    font-size:16px;
    font-weight:bold;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
    vertical-align: bottom;
}

#upload div input{
    display: none;
}

#upload div p{
	text-align: center;
    white-space: nowrap;
    color: #D6AA38;
    font-size: 16px;
    font-weight: bold;
    margin-top: 195px;
    background: url(../img/load-indicator.gif) no-repeat center top;
    background-size: 90px 60px;
    padding-top: 55px;
}

#upload div i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li.error p{
    color:red;
}


/* ==========================================================================
   11. Messages
   ========================================================================== */
.message {
    margin: auto;
    margin-top: 10px;
    float: none;
    border: 2px solid #000;
}
.message p {
    margin-left: 50px;
    margin-top: 10px;
    font-weight: bolder;
}
.message a.btn {
    clear: both;
    float: right;
    margin: 10px;
}
.message a.btn:hover {
    background: #000000;
    color: #ffffff;
}
.msg-error{
	background: url('../img/error_black.png') no-repeat left top;
	background-color:#ffcc00; 
}
.msg-info{
	background: url('../img/info_black.png') no-repeat left top;
	background-color:#ffcc00;
}
.msg-quest{
	background: url('../img/quest_black.png') no-repeat left top;
	background-color:#ffcc00;
}
.msg-warn{
	background: url('../img/warn_black.png') no-repeat left top;
	background-color:#ffcc00;
}

/* ==========================================================================
   12. Form Table
   ========================================================================== */
table.form-table { margin-bottom: 20px; margin-left: 20px; width: 98%;}
table.form-table tr td {
	padding: 10px 5px 10px 10px;
}

/* ==========================================================================
	13. Autocomplete
   ========================================================================== */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus { background-color: #bc9701; }

/* ==========================================================================
	14. Tags
   ========================================================================== */
span.btn-tag {
	margin: 3px 3px;
	color: #ffffff;
	font-size: 10px;
}
span.btn-tag a.delete {
	background: url(../img/close_tag.png) no-repeat center right;
	background-size: 14px;
	padding-left: 22px;
}
#disciplinesTags{ margin-top: 10px;}