<html>
<body>
<h4>Dear ${user.email}, welcome to the PhDhive!</h4>

<div>
   To verify the accuracy of the data, you should visit the following link <a href="http://www.phdhive.com/action/activation/${user.id}/${user.idActivation}">here</a>.
</div>

<p>Thanks</p>

</body>

</html>